# -------------------------------------------------------
# Python
# -------------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Distribution
build/
dist/
*.egg-info/

# Unit Tests
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
logs/*.log

# Local configuration
*.local
.env

# LM Studio
models/

# Temporary files
*.tmp
*.bak
*.swp

# Bytecode
*.pyc

# Notebook
.ipynb_checkpoints/

#WORD Documents
*.docx

# SEOS Vector DB
.seos_vector_db/

# SEOS Generated Projects Sandbox
projects/
